* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.glass {
    /* From https://css.glass */
background: rgba(168, 171, 244, 0.63);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}

input {
    background-color: #d4b6f2 !important;
}

.error {
    color: red !important;
    font-size: .7rem !important;
}